/*
 * WSEP Stylesheet - Data Provider
 *
 * Copyright 2013
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

/*.navbar-inverse {
	background-image: linear-gradient(to bottom,#4D2A00 0,#241500 100%);
}*/

.navbar-inverse .navbar-brand {
	color: #789DDD;
}