<%-- 
    Document   : wsNavbar
    Created on : 04-Mar-2015, 16:02:44
    Author     : José
--%>

<%@tag description="put the tag description here" pageEncoding="UTF-8"%>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message"%>

<%-- any content can be specified here e.g.: --%>
<h2>${message}</h2>